
body {
    height: 100%;
    background-color: #D0CBF3;
}

.back-box {
  width: 750px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -400px;
  border-radius: 10px;
  background-color: #1A1832;
}

.Close-Button {
  display: flex;
  position: relative;
  left: 95%;
  top: 10px;
  background-color: #1A1832;
  border-color: transparent;
  color: white;
}

.Close-Button:hover {
  background-color: red;
}

.Close-Button:active {
  transform: scale(0.95);
}

.First {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  font-family: "Askan Regular", sans-serif;
  font-size: 20px;
  color: #FFFEFF;
}

.Second {
  font-size: 20px;
  left: 10%;
  position: relative;
  margin-left: 25%;
  color: #FFFEFF;
  font-family: "Askan Regular", serif;
  top: 50px;
}

@font-face {
    font-family: "Askan Regular";
    src: url("./Aksan.otf") format("opentype");
}

.box-button{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  gap: 10px;
  top: 70px;
}

.button {
  align-items: center;
  color: #B4B8CD;
  font-size: 150%;
  transition: transform 0.3s ease;
  cursor: pointer;
  border: 3px solid #272D45;
  border-radius: 10px;
  font-family: "Aksan Regular", serif;
  width: 60px;
  height: 55px;
  background-color: #1A2036;
  padding: 15px 25px;
  display: flex;
  justify-content: center;
}

.button:hover {
  border-color: white;
}

.back-box-info {
  display: flex;
  flex-direction: column;
}

.button:active {
    transform: scale(0.95);
}

.Results {
  display: flex;
}

.Not-Likely {
  display: flex;
  font-size: 70%;
  color: white;
  top: 200%;
  position: relative;
  right: 110%;
}

.No-Likely {
  display: flex;
}


