<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="back-box">
          <div class="back-box-info">
            <div>
              <button class="Close-Button">X</button>
            </div>
            <span class="span">
                <p class="First">
                    How likely are you to recommend FrontendPro
                </p>
                <p class="Second">
                    to someone you know?
                </p>
            </span>
          </div>

            <div class="box-button">
                <button class="button">1</button>
                <button class="button">2</button>
                <button class="button">3</button>
                <button class="button">4</button>
                <button class="button">5</button>
                <button class="button">6</button>
                <button class="button">7</button>
                <button class="button">8</button>
                <button class="button">9</button>
                <button class="button">10</button>
            </div>
        </div>
    </div>
</body>
</html>
