
body {
    height: 100%;
    background-color: #D0CBF3;
}

.back-box {
  display: flex;
  width: 750px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -400px;
  border-radius: 10px;
  background-color: #1A1832;
}

.Close-Button {
  display: flex;

}

.First {
  align-items: center;
  margin-left: 40%;
  position: relative;
  top: -20px;
  font-family: "Askan Regular", sans-serif;
  font-size: 20px;
  color: #FFFEFF;
}

.Second {
  font-size: 20px;
  left: 10%;
  position: relative;
  margin-left: 30%;
  color: #FFFEFF;
  font-family: "Askan Regular", serif;
  top: -20px;
}

@font-face {
    font-family: "Askan Regular";
    src: url("./Aksan.otf") format("opentype");
}

.box-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
  align-items: center;
  color: #B4B8CD;
  font-size: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
  border: 3px solid #272D45;
  border-radius: 10px;
  font-family: "Aksan Regular", serif;
  width: 60px;
  height: 55px;
  background-color: #1A2036;
  padding: 15px 25px;
  display: flex;
  justify-content: center;
}

.button:active {
    transform: scale(0.95);
}
